body {
    margin: 0;
    background: #2c2c2c url(mems/background.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%; 
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh; 
    flex-wrap: wrap;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
	width: 100%;
    max-width: 620px;
    margin: 0 auto 150px;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Header */
h1 {
    font-size: 16px;
    color: #fff;
    padding: 5px 0;
    margin: 5px auto;
    font-weight: 600;
}

/* Slider */
.slider {
    height: 300px;
	overflow: hidden;
	position: relative;
	width: inherit;
    max-width: 600px;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transition: opacity ease-in .3s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
}

.slide1 { 
    background-image: url(mems/slide1.jpg);
    background-size: 100%;
}

.slide2 { 
    background: url(mems/slide2.jpg) no-repeat center;
    background-size: 100%;
}

.slide3 { 
    background: url(mems/slide3.jpg) no-repeat center;
    background-size: 100%;
}

.slide4 { 
    background-image: url(mems/slide4.jpg);
    background-size: 100%;
}

.slide5 { 
    background-image: url(mems/slide5.jpg);
    background-size: 100%;
}

/* Info Bar */
.info_bar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 5px 0;
}

.descriptor {
    height: 32px;
    overflow: hidden;
    position: relative;
}

.desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    position: absolute;
    font-weight: 600;
    color: #ddd;
    text-align: left;
    text-transform: uppercase;
    margin: 10px 0;
    opacity: 0;
    z-index: 0;
    transition: opacity ease-in .3s;
}

#slide1:checked ~ .descriptor > .desc1,
#slide2:checked ~ .descriptor > .desc2,
#slide3:checked ~ .descriptor > .desc3,
#slide4:checked ~ .descriptor > .desc4,
#slide5:checked ~ .descriptor > .desc5 {
    opacity: 1;
	z-index: 1;
}

.wrapper > input {
	display: none;
}

.controls {
	position: relative;
}

label {
	cursor: pointer;
	display: inline-block;
	height: 10px;
	margin: 15px 10px 10px;
	position: relative;
	width: 10px;
	border-radius: 50%;
    background: #ddd;
	transition: background ease-in .3s;
}

label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: transparent;
}

label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 10px;
	position: absolute;
	width: 10px;
	border-radius: 50%;
}






